@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Monda:wght@400;700&family=Montserrat&display=swap');

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    --primary-rgba: rgba(255, 255, 255, 0.8);
    --primary-rgba-2: rgba(155, 155, 155, 0.8);
    --neutral-dark-rgba: rgba(41, 48, 48, 0.8);
    --primary-05: #a9dcd4;
    --primary-10: #9cdccb;
    --primary-50: #46dcaf;
    --primary-60: #2f9e81;
    --primary-70: #16594c;
    --primary-100: #152423;
    --secondary-10: #feecae;
    --secondary-20: #fde17c;
    --secondary-50: #e4c825;
    --secondary-60: #b4a415;
    --secondary-70: #80780e;
    --neutral-grey-00: #F1FFFD;
    --neutral-grey-10: #DFE8E6;
    --neutral-grey-20: #CBD1D0;
    --neutral-grey-40: #9DA3A3;
    --neutral-grey-50: #7A8C8C;
    --neutral-grey-60: #647575;
    --neutral-grey-70: #515E5E;
    --neutral-grey-80: #3D4747;
    --neutral-grey-90: #293030;
    --neutral-grey-100: #161919;
    --warning-dark: #f5954d;
    --warning-light: #fac69d;
    --error-dark: #d92736;
    --error-light: #f75859;
    --success-dark: #4ed27b;
    --success-light: #82f2a2;
    --info-dark: #6294be;
    --info-light: #94c1df;
    --primary-font: "Monda";
    --secondary-font: "Montserrat";
    --body-font: "Kanit";

    background: var(--neutral-grey-00);
    height: 100%;
    width: 100%;
    color: var(--neutral-grey-80);
    font-size: 1rem;
    font-family: var(--body-font);
    margin: 0;
    padding: 0;
}

:root {
    scroll-behavior: smooth;
}

*::-moz-selection {
    background: var(--primary-70);
    color: var(--neutral-grey-10);
}

*::selection {
    background: var(--primary-70);
    color: var(--neutral-grey-10);
}

.Contact h1::selection {
    background: var(--neutral-grey-10);
    color: var(--primary-70)
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--neutral-grey-00);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-60);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-70);
}

/* Base Styles */
a {
    outline: 0;
    color: var(--primary-60);
}

h1, h2, h3 {
    margin: 0;
    font-weight: 500;
    padding: 0.5rem 2.5rem;
    font-family: var(--primary-font);
}

h1 {
    margin: 0;
    color: var(--primary-70);
    font-size: 3rem;
    font-weight: bold;
}

h2 {
    margin: 0;
    color: var(--primary-60);
    font-size: 2.2rem;
}

h3 {
    margin: 0;
    color: var(--primary-50);
    font-size: 1.5rem;
}

p {
    margin: 0;
    padding-left: 1.2rem;
    padding-bottom: .5rem;
    font-size: 1.2rem;
}

hr {
    width: 60%;
    color: var(--secondary-70);
}

.wrapper {
    margin: auto;
    width: 80%;
}

/* Navbar */
.nav {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 0;
    background-color: var(--neutral-grey-10);
    font-family: var(--primary-font);
    border-bottom: 1px solid var(--neutral-grey-40)
}

.nav-logo {
    width: 2.6rem;
    height: auto;
    color: var(--primary-70);
}

.nav-logo:hover {
    color: var(--neutral-grey-10);
    background-color: var(--primary-70);
}

.left-navbar-grouping {
    display: inline-block;
    width: 300px;
}

.git-link {
    font-size: 1rem;
    border: 0;
}

.git-link:hover {
    text-decoration: none;
    background-color: var(--neutral-grey-10);
    border: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    padding: 0 0.2rem;
}

nav a {
    display: flex;
    text-transform: uppercase;
    border: 1px solid transparent;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 0.4rem;
    margin: 0 10px;
    color: var(--primary-70)
}

nav a:hover {
    border: 1px solid var(--primary-70);
    border-radius: 8px;
    background-color: var(--primary-70);
    color: var(--neutral-grey-10);
}

nav button {
    display: none;
    text-transform: uppercase;
    border: 3px solid transparent;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem;
    margin: 0 10px;
    color: var(--neutral-grey-10);
    background-color: var(--primary-70);
    border-radius: 8px;
    cursor: pointer;
}

nav button:hover {
    background-color: var(--neutral-grey-10);
    border-color: 1px solid var(--primary-70);
    border-radius: 8px;
    color: var(--primary-70);
}

.hamburger-container {
    display: none;
}

.hamburger-links {
    display: none;
}

.Hamburger {
    margin: 0;
    background-color: var(--neutral-grey-10);
}

@media only screen and (max-width: 560px) {
    .hamburger-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hamburger-links {
        padding-inline-start: 0;
        margin-block: 0;
    }

    .hamburger-links li {
        list-style: none;
    }

    .hamburger-links a {
        font-size: 1.2rem;
        text-decoration: none;
    }

    .hamburger-links a:hover {
        text-decoration: underline;
    }

    nav ul li {
        display: none;
    }

    .hamburger-container {
        display: flex !important;
    }

    .hamburger {
        display: flex !important;
    }

    nav button {
        display: flex !important;
    }
}

/* Splash */
.splash-container {
    height: calc(100vh - 80px);
    border-bottom: 1px solid var(--neutral-grey-40);
    background-color: var(--neutral-grey-20);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.splash h1 {
    margin: 0;
    padding: 5rem 0 0 0;
    font-size: 3.2rem;
    color: var(--primary-70);
}

.splash p {
    width: 100%;
    padding: 1rem 10% 1rem;
    margin: 0 0 3rem 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.splash .cta {
    display: block;
    text-align: center;
    width: 90%;
    border: 1px solid transparent;
    border-radius: 3rem;
    margin: 2rem auto 0;
    padding: 2rem;
    font: 2rem var(--primary-font);
    color: var(--neutral-grey-10);
    background-color: var(--secondary-70);
    cursor: pointer;
}

.splash .cta:hover {
    box-shadow: 0 5px 15px rgba(171, 161, 27, 0.8);
}

@media only screen and (min-width: 450px) {
    .splash .cta {
        width: 405px;
    }
    .splash h1 {
        text-indent: -7px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .splash-container {
        background-size: contain;
        background-image: url('../images/splash-final-mustard.png');
        background-repeat: no-repeat;
        background-position: bottom right;
        text-align: initial;
    }

    .splash h1 {
        font-size: 5rem;
        padding: 0 0 0 6rem;
    }

    .splash p {
        font-size: 1.4rem;
        width: 600px;
        margin: 0 0 3rem 6rem;
        padding: inherit;
    }

    .splash .cta {
        width: 350px;
        margin: 2rem 6.5rem;
    }
}

@media only screen and (min-width: 1450px) {
    .splash h1 {
        font-size: 5rem;
        padding: 0 0 0 13rem;
    }

    .splash p {
        font-size: 1.4rem;
        width: 600px;
        margin: 0 0 3rem 13rem;
        text-align: left;
    }

    .splash .cta {
        margin: 2rem 13rem;
    }
}

/* About */
.About {
    padding: 3rem 0 4rem;
    min-height: 50vh;
    height: 100%;
    background-color: var(--neutral-grey-10);
}

.About h1 {
    text-align: center;
    padding-bottom: 0;
}

.about-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    justify-content: space-evenly;
}

.about-item {
    text-align: center;
    padding: 1.5rem 1.5rem 0;
    flex-basis: 33%;
}

.about-item p {
    text-align: justify;
}

@media only screen and (max-width: 450px) {
    .about-item p {
        text-align: left;
    }
}

@media only screen and (min-width: 1350px) {
    .about-container {
        flex-direction: row;
    }
}

/* Projects */
.Projects {
    padding: 3rem 0 3rem;
    min-height: 50vh;
    background-color: var(--neutral-grey-20);
}

.Projects h1 {
    text-align: center;
}

.Projects .wrapper {
    padding-bottom: 3rem;
}

.projects-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    min-height: 20vh;
    height: auto;
}

.projects-container:first-child {
    margin: 0 0 1rem;
}

.projects-container:last-child {
    margin: 1rem 0 0;
}

.project {
    width: 90%;
    max-width: 20rem;
    min-height: 16rem;
    height: 100%;
    padding: 0;
    margin: 1rem;
    border-radius: 8px;
    background-color: var(--neutral-grey-80);
    color: var(--neutral-grey-00);
    font-size: 1.4rem;
    overflow: visible;
    box-shadow: 0 5px 15px rgba(61, 71, 71, 0.8);

}

.project:hover {
    box-shadow: 0 10px 25px rgba(61, 71, 71, 1.0);
}

.project h1, h2, h3, p {
    padding: 0;
    margin: 0;
}

.project-head {
    background-color: var(--neutral-grey-90);
    margin-bottom: 0.5rem;
    padding: 0.2rem;
    text-align: center;
    border-radius: 8px 8px 0 0;
}

.project h3 {
    color: var(--primary-10);
}

.project-body {
    position: relative;
    min-height: 280px;
    padding: 0 1rem 1.6rem;
}

.project ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

.project ul li {
    color: var(--secondary-20);
    font-size: 2rem;
    padding: 0.3rem;
}

.project ul li img {
    height: 2.5rem;
    width: auto;
    border-radius: 5px;
    background-color: var(--neutral-grey-90);
    padding: 4px;
}

.project-footer {
    padding: 0.5rem 1rem 0.5rem;
    background-color: var(--neutral-grey-90);
    border-radius: 0 0 8px 8px;
}

.project-footer ul {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.project-footer a {
    padding: 0 0.3rem 0;
    color: var(--neutral-grey-10);
    text-decoration: none;
}

.project-footer a:hover {
    color: var(--neutral-grey-90);
    background-color: var(--secondary-50);
    text-decoration: none;
}

.project-footer .link {
    font-size: 1.8rem;
    padding: 0 1rem 0;
}

@media only screen and (min-width: 769px) {
    .projects-container {
        flex-direction: row;
        justify-content: space-around;
        align-items: unset;
    }
}

/* Projects - tech language tooltips */
.TechLanguageTooltip {
    position: absolute;
    width: 285px;
    padding: 0 0.3rem 0;
    border: 1px solid var(--neutral-grey-100);
    background-color: var(--neutral-grey-90);
    color: var(--neutral-grey-20);
    margin-bottom: 1rem;
    box-shadow: 0 10px 25px rgba(31, 36, 36, 1.0);
}

.TechLanguageTooltip p {
    font-size: 1rem;
}

.tag {
    position: absolute;
    bottom: 0.5em;
    width: auto;
    padding: 0 0.6em 0 0.6em;
    border-color: var(--primary-10);
    border-radius: 1em;
    background-color: var(--primary-10);
    color: var(--neutral-grey-90);
    font-size: 0.8em;
    font-weight: bold;
}


/* Contact */
.Contact {
    padding: 3rem 0 6rem;
    min-height: 50vh;
    background-color: var(--primary-100);
    color: var(--neutral-grey-10);
}

.Contact hr {
    border-color: var(--neutral-grey-40);
}

.Contact h1 {
    text-align: center;
    color: var(--neutral-grey-10);
}

.Contact form {
    padding: 1.5rem 0 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.Contact input, .Contact textarea {
    margin-bottom: 1em;
    padding: 0.5rem;
    border: 1px solid var(--neutral-grey-20);
    border-radius: 3px;
    font-size: 1rem;
    font-family: var(--body-font);
    font-weight: bold;
    background-color: var(--primary-100);
    color: var(--neutral-grey-00);
}

.Contact input, .Contact button, .Contact textarea {
    width: 100%;
    max-width: 450px;
}

.Contact textarea {
    resize: none;
}

.Contact input:focus, .Contact textarea:focus {
    outline-style: none;
    border: 1px solid var(--primary-60);
}

.Contact ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--neutral-grey-80);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--neutral-grey-80);
}

.Contact ::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--neutral-grey-80);
}

.Contact label {
    font-size: 1.4rem;
}

.Contact button {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: var(--body-font);
    width: 100%;
    padding: 1rem;
    margin-top: 1.4rem;
    border: 1px solid var(--primary-60);
    border-radius: 1rem;
    background-color: var(--primary-60);
}

.Contact button:hover {
    cursor: pointer;
    box-shadow: 0 2px 7px rgba(70, 220, 175, 0.8);
}

/* Footer */
.Footer {
    background-color: var(--neutral-grey-100);
}

.Footer h1 {
    color: var(--neutral-grey-20);
}

.Footer .footer-container {
    display: block;
    color: var(--neutral-grey-20);
    font-size: 2.5rem;
    padding: 1rem
}

.footer-social-icon {
    color: var(--neutral-grey-20);
}

a .footer-social-icon:hover {
    color: var(--secondary-60);
}

#footer-wrapper a {
    padding-right: 0.5rem;
}

.footer-container div {
    font-size: 1rem;
}

@media only screen and (min-width: 500px) {
    .Footer .footer-container {
        padding: 2rem 0 2rem 0;
        margin: auto;
        width: 80%;
    }
    .footer-container div {
        font-size: 2rem;
    }
    #footer-wrapper a {
        padding-right: 1rem;
    }
}